.header {
  position: relative;
  background: $headerBackground;
  z-index: 3;
}

.site-brand {
  text-align: center;
}

$brandHeight: null;

.brand {
  font-size: $siteBrandFontSize;
  color: $siteBrandFontColor;
  text-decoration: none;

  &:hover {
    color: $siteBrandFontColor;
  }
}

/* $siteBrandFontSize * {body line-height} */
$brandHeight: $fontSize * strip-unit($siteBrandFontSize) * 1.618;