{{- $path := "" -}}
{{- with .File -}}
    {{- $path = .Path -}}
{{- else -}}
    {{- $path = .Path -}}
{{- end -}}

<div class="post-gitinfo">
  <div class="post-gitinfo-right">
    {{ with .Site.Params.repoEditURL }}
        {{ $contentDir := (cond $.Site.IsMultiLingual (printf `/%s/` $.Site.Params.contentDir) "/content/") }}
        <div class="gitinfo-item edit">
            <a href="{{ . }}{{ $contentDir }}{{ replace $path "\\" "/" }}" target="_blank">
                Edit
            </a>
        </div>
    {{ end }}
  </div>
</div>
