{{ if and (in .Site.Params.mainSections .Section) }}
    {{ .Scratch.Set "prev" .Prev }}
    {{ .Scratch.Set "next" .Next }}
    {{ $prev := .Scratch.Get "prev" }}
    {{ $next := .Scratch.Get "next" }}
    {{ if or $prev $next }}
        <ul class="list-none p-0 flex justify-between border-t border-[rgba(242,242,242,1)] font-bold mt-20 pt-[0.618em]" data-pagefind-ignore>
            {{ if $next }}
                <li class="mr-auto max-w-[42%]">
                    <a href="{{ $next.RelPermalink }}" rel="prev">&lt; {{ (partial "utils/title.html" (dict "$" $next "title" $next.LinkTitle)).htmlTitle }}</a>
                </li>
            {{ end }}
            {{ if $prev }}
                <li class="ml-auto text-right max-w-[42%]">
                    <a href="{{ $prev.RelPermalink }}" rel="next">{{ (partial "utils/title.html" (dict "$" $prev "title" $prev.LinkTitle)).htmlTitle }} &gt;</a>
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}
