body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

button {
  margin-top: 1rem;
}

div {
  text-align: center;
  width: 1000px;
  height: 600px;
  position: relative;
  border: 1px solid black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#point {
  z-index: 2;
}

#fogg {
  z-index: 1;
}
