{{/* Post list item template for section pages */}}
{{- $ctx := index . "$" -}}
{{- $pages := $ctx.Pages -}}
{{- $listDateFormat := "Jan" -}}
{{- $limit := -1 -}}
{{- if ge $limit 0 -}}
	{{- $pages = $pages | first $limit -}}
{{- end -}}
{{- with $pages -}}
	<ul>
		{{ range . }}
			<li>
				<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
				(in
				<time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">{{ .PublishDate.Format $listDateFormat }}</time>)
			</li>
		{{ end }}
	</ul>
{{ end }}