body {
  background-color: white;
  color: #0c0c0c;
  font-size: 15px;
}
h1 {
  margin: 0 0;
  padding: 0 0;
  color: #a5573e;
  font-family: "Josefin Sans", -apple-system, "PingFang SC", "Hiragino Sans GB",
    "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
}
h2 {
  margin: 0 0;
  padding: 0 0;
  color: #a5573e;
  font-family: "Josefin Sans", -apple-system, "PingFang SC", "Hiragino Sans GB",
    "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif;
  font-size: 28px;
  margin: 25px 0 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}
h3 {
  margin: 0 0;
  padding: 0 0;
  color: #a5573e;
  font-family: "Josefin Sans", -apple-system, "PingFang SC", "Hiragino Sans GB",
    "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif;
  font-size: 22px;
  margin: 25px 0 20px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #ccc;
}
h4 {
  margin: 0 0;
  padding: 0 0;
  color: #a5573e;
  font-family: "Josefin Sans", -apple-system, "PingFang SC", "Hiragino Sans GB",
    "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif;
  font-size: 18px;
  margin: 20px 0;
}
h5 {
  margin: 0 0;
  padding: 0 0;
  color: #a5573e;
  font-family: "Josefin Sans", -apple-system, "PingFang SC", "Hiragino Sans GB",
    "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif;
  font-size: 16px;
  margin: 18px 0;
}
h6 {
  margin: 0 0;
  padding: 0 0;
  color: #a5573e;
  font-family: "Josefin Sans", -apple-system, "PingFang SC", "Hiragino Sans GB",
    "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif;
  font-size: 16px;
  margin: 18px 0;
}
div#content {
  max-width: 780px;
  margin: 12px auto 12px auto;
  font-family: Georgia, -apple-system, "Arial", "Nimbus Roman No9 L", "PingFang SC",
    "Hiragino Sans GB", "Noto Sans SC", "Microsoft Yahei", "WenQuanYi Micro Hei",
    "ST Heiti", sans-serif;
  ol {
    line-height: 22px;
  }
  ul {
    line-height: 22px;
  }
}
h1.title {
  padding: 0.75em 0em 0.5em;
  font-size: 32px;
  margin-bottom: 0;
  border-bottom: none;
  color: black;
}
p {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 22px;
  text-align: justify;
}
#table-of-contents {
  margin-bottom: 16px;
  padding: 1px 16px 16px;
  background: #fff8f8;
  font-size: 90%;
  a {
    text-decoration: none;
    &:hover {
      background: inherit;
    }
  }
  ul {
    margin: 0;
    padding-left: 20px;
    li {
      padding: 2px 0;
      line-height: 22px;
    }
  }
}
#text-table-of-contents {
  margin-top: 16px;
}
blockquote {
  padding: 0px 15px;
  margin: 16px 0;
  border-left: 2px solid rgba(40, 50, 60, 0.85);
  overflow: auto;
  word-wrap: break-word;
  p {
    color: #555;
    line-height: 22px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ol {
    color: #555;
    line-height: 22px;
  }
  ul {
    color: #555;
    line-height: 22px;
  }
}
.figure {
  margin: 0;
  padding: 0;
}
img {
  border: 1px solid #e8e8e8;
  padding: 5px;
  max-width: 100%;
  border-radius: 2px;
}
a {
  color: #527d9a;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    background: #fbf4ea; /* #FBF4EA #D5EACD */
    border-bottom: 1px solid;
  }
}
table {
  margin: 1em auto;
  border-top: 2px solid;
  border-collapse: collapse;
  border-bottom: 2px solid;
  td {
    + {
      td {
        border-left: 1px solid grey;
      }
    }
  }
  th {
    + {
      th {
        border-left: 1px solid grey;
      }
    }
  }
  tr {
    border-top: 1px solid #d3d3d3;
  }
}
thead {
  border-bottom: 2px solid;
}
td {
  padding: 0.3em 0.6em;
  vertical-align: middle;
}
th {
  padding: 0.3em 0.6em;
  vertical-align: middle;
}

pre {
  font-family: "JetBrains Mono", Consolas, "ubuntu", "DejaVu Sans Mono", Monaco,
    "Courier New", monospace;
  font-size: 14px;
  background-color: whitesmoke;
  box-shadow: none;
  padding: 16px;
  margin: 0 0;
  border: none;
  margin-bottom: 16px;
  border-radius: 2px 2px;
  white-space: pre-wrap;
  overflow-x: auto;
}

code {
  font-family: "JetBrains Mono", Consolas, "ubuntu", "DejaVu Sans Mono", Monaco,
    "Courier New", monospace;
  font-size: 14px;
  background-color: whitesmoke;
  padding: 2px 2px;
  margin: 0 2px;
  border-radius: 2px;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
dl.org-dl {
  dd {
    padding: 4px 0 8px 25px;
    margin-left: 0;
    ul.org-ul {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 20px;
    }
  }
}
@media (max-width: 780px) {
  div#content {
    border: none;
    margin: 0 0;
    padding: 8px 8px;
  }
}
