<div>
  <p>最近更新的 10 个仓库：</p>
  <div class="tasklist" id="repos"></div>
</div>
<script>
  fetch("https://api.github.com/users/tianheg/repos?sort=updated&per_page=10")
    .then(response => response.json())
    .then(data => {
      let repos = data;
      let output = "";
      repos.forEach(function(repo) {
        output += `
          <li>
            <a href="${repo.html_url}" target="_blank">${repo.name}</a>
          </li>
        `;
      });
      document.getElementById("repos").innerHTML = "<ul>" + output + "</ul>";
    })
    .catch(err => console.log(err));
</script>
