<style>
.github {
  border: 1px solid var(--color-contrast-low);
  border-radius: 3px;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
}
.github .github-icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
  margin-bottom: 0.2em;
  fill: var(--color-contrast-high);
  transition: all .5s;
}

.github .name {
  font-weight: bold;
  color: var(--color-primary);
  text-decoration: none;
}

.github .description {
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: var(--color-contrast-high);
  text-align: justify;
  font-size: 90%;
  transition: all .5s;
}

.github .language-color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
}

.github .language-name {
  color: var(--color-contrast-high);
  font-size: 90%;
  margin-left: 0.5em;
  transition: all .5s;
}
</style>

<div class="github">
    <div class="logo">
        {{ replace $.Site.Data.SVG.repository "icon" "icon github-icon" | safeHTML }}
        <a class="name" href={{ .Get "link" }} target="_blank">{{ .Get "name" }}</a>
    </div>
    <div class="description">{{ .Get "description" }}</div> 
    <div class="language">
        <span class="language-color" style="background-color: {{ .Get "color" }}"></span>
        <span class="language-name">{{ .Get "language" }}</span>
    </div>
</div>