<style>
.lab {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding: 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .07),
    0 2px 4px rgba(0, 0, 0, .05),
    0 12px 24px rgba(0, 0, 0, .05);
}

.lab p {
  color: grey;
}
</style>
<div class="lab">
  {{ if eq (.Get 1) ""}}
    <div>{{ .Get 0 }}</div>
  {{ else }}
    <a href="{{ .Get 1 }}">{{ .Get 0 }}</a>
  {{ end }}
  
  <p>{{ (markdownify .Inner) }}</p>
</div>
