{{ if or (and .IsHome .Site.Params.displayFooterInHome) (and (not .IsHome) (.Site.Params.displayFooter | default .Site.Params.enableFooter)) }}
    <footer id="footer" class="footer">
        <div class="footer-inner">
            <div class="site-info">
              {{- if .Site.Params.displayCopyleftSymbol -}}
                  <span class="copyleft-symbol">🄯</span>&nbsp;
              {{- end -}}
              {{- if .Site.Params.displayCopyrightSymbol -}}
                  ©&nbsp;
              {{- end -}}

              {{- if .Site.Params.displaySiteCreatedYear -}}
                  {{- dateFormat "2006" (time .Site.Params.siteCreatedTime) -}}–
              {{- end -}}
              {{- now.Format "2006 " -}}

              {{- .Site.Author.name -}}
            </div>
            
            {{ partial "custom/footer.html" . }}
        </div>
    </footer>
{{ end }}
