{{ if or (or (and .IsHome)) (and (not .IsHome) .Site.Params.enableHeader) }}
  <header class="header">
    {{ template "site-brand" . }}
  </header>
{{ end }}

{{ define "site-brand" }}
    <div class="site-brand">
        {{ if .Site.Params.siteBrandSVG }}
            <a href="{{ print `/` | relLangURL }}">{{ partial "utils/icon.html" (dict "$" . "name" "brand") }}</a>
        {{ else }}
            <a href="{{ print `/` | relLangURL }}" class="brand">{{ .Site.Title }}</a>
        {{ end }}
    </div>
{{ end }}
