{{/* Artalk comment system */}}
{{ if not .Params.nocomment }}
<section id="comments" class="my-12">
  <h2 class="text-xl font-semibold mb-6">Comments</h2>
  <div id="Comments"></div>
</section>

<link href="/dist/Artalk.css" rel="stylesheet">
<script src="/dist/Artalk.js"></script>
<script>
  Artalk.init({
    el: '#Comments',
    pageKey: '{{ .Permalink }}',
    pageTitle: '{{ .Title }}',
    server: 'https://comments.tianheg.co',
    site: 'Tianhe Gao',
    darkMode: 'auto',
  })
</script>
{{ end }}
