@charset "UTF-8";

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(128, 128, 128, 0.9);
}

main {
  margin: 2rem 1rem;
  padding: 0 1rem;
  border: 1.2rem dotted #b3a9a9;
  border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
}
main .flexbox {
  display: flex;
  justify-content: center;
}
@media (max-width: 30em) {
  main .flexbox {
    flex-direction: column;
    align-items: center;
  }
}
main h1 {
  font-size: 4rem;
  text-shadow: 0.3rem 0.3rem 0.5rem rgb(4, 255, 0);
}
main h1:hover {
  color: yellow;
  text-shadow: 0 0 4.5rem yellow, 0 0 5.5rem yellow;
  animation: glow 1.5s linear infinite;
}
@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
main img {
  aspect-ratio: auto 16/9;
  height: 6.7rem;
  margin: 2rem 0 0 1rem;
}
main p {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}
main p a {
  color: inherit;
  text-underline-offset: 0.5rem;
}
main p a:hover {
  color: rgb(42, 109, 244);
  font-size: 2rem;
}
main p a[href^=http] {
  background: url("external-link-52.png") no-repeat 100% 0;
  background-size: 1.6rem 1.6rem;
  padding-right: 1.9rem;
}
main p {
  color: navy;
}
main p {
  color: black;
}
main p:nth-child(3) {
  color: red;
}
main .lists {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
main .lists :is(ul, ol) > li {
  display: grid;
  grid-template-columns: 0 1fr;
  gap: 2.75rem;
  align-items: start;
  line-height: 1.5;
}
main .lists ul,
main .lists ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem;
}
main .lists ul > li::before {
  content: attr(data-icon);
  font-size: 1.6rem;
}
main .lists ol {
  --li-bg: purple;
  counter-reset: orderedlist;
}
main .lists ol li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  font-family: "Indie Flower", cursive;
  font-size: 1.6rem;
  line-height: 1.5;
  width: 2.4rem;
  text-align: center;
  color: #fff;
  background-color: var(--li-bg);
  border-radius: 0.85rem;
}
@media (max-width: 30em) {
  main .lists {
    flex-direction: column;
    align-items: center;
  }
  main .lists ul,
main .lists ol {
    margin: 1rem 0;
  }
}
main > .outer {
  border: 0.1rem solid black;
}
main > .outer .box:nth-child(1) {
  padding: 1rem;
  width: calc(90% - 30px);
  background: rgb(238, 59, 5);
  color: white;
}
main .flexbox2 {
  border: 0.1rem solid black;
  margin: 10rem;
  display: flex;
  justify-content: center;
}
main .flexbox2 .outer:nth-child(1) {
  border-right: 0.05rem solid black;
}
main .flexbox2 .outer:nth-child(1) .box {
  margin: 2rem;
  width: 10rem;
  height: 10rem;
  background: rgb(17, 229, 102);
  transform: rotate(0.8turn);
}
main .flexbox2 .outer:nth-child(2) {
  border-left: 0.05rem solid black;
}
main .flexbox2 .outer:nth-child(2) .box {
  margin: 2rem;
  width: 10rem;
  height: 10rem;
  background: rgb(17, 229, 102);
  transform: rotate(-0.8turn);
}
main .counter-style > ul {
  list-style: blacknwhite;
}
main .shorthands > div {
  font: expanded italic small-caps bold 50px/2 "Indie Flower", cursive;
  border: 1rem dotted rgb(1, 1, 1);
  padding: 1rem 0.2rem 1rem 0.2rem;
  text-align: center;
  margin: 1rem 0.2rem 1rem 0.2rem;
  background: content-box no-repeat linear-gradient(217deg, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0) 66%), linear-gradient(127deg, rgba(0, 255, 0, 0.6), rgba(0, 255, 0, 0) 66%), linear-gradient(336deg, rgba(0, 0, 255, 0.6), rgba(0, 0, 255, 0) 66%);
}
main .css-work > img {
  width: 100%;
  height: 34rem;
}
main .css-work > p {
  width: 500px;
  width: calc(100% - 40px);
}
main .get-scss-content {
  margin: 1rem 0 1rem 0;
  border: 0.1rem solid black;
  padding: 0 1rem 0 1rem;
}
main .get-scss-content #scssFile pre > code {
  white-space: pre-wrap;
}

@counter-style blacknwhite {
  system: cyclic;
  symbols: ◆ ◇;
  suffix: " ";
}
@supports (--foo: red) {
  .class {
    color: var(--foo);
  }
}
@page :first {}
@font-face {
  font-family: "Courier New", Courier, monospace;
  src: url();
}
@keyframes exp1 {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes exp2 {}
@keyframes exp2 {}
@keyframes exp3 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: 2.5rem;
  }
  68%, 72% {
    left: 2.5rem;
  }
  100% {
    top: 5rem;
    left: 100%;
  }
}
@keyframes exp3 {
  0% {
    top: 0;
    left: 0;
  }
  30% {
    top: 2.5rem;
  }
  30% {
    top: 2rem;
  }
  100% {
    left: 100% !important;
  }
}
