<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <body>
        <div class="container">
            <main class="fof">
                {{ with or .Site.Params.fofVideoWebm .Site.Params.fofVideoMp4 }}
                <video poster="{{ $.Site.Params.fofPoster }}" id="bgvid" playsinline autoplay muted loop>
                    {{ with $.Site.Params.fofVideoWebm }}
                    <source src="{{ . }}" type="video/webm" />
                    {{ end }}
                    {{ with $.Site.Params.fofVideoMp4 }}
                    <source src="{{ . }}" type="video/mp4" />
                    {{ end }}
                </video>
                {{ end }}
                <div class="main-inner">
                    <h1>404 - Page not found</h1>
                    <p>文章链接已更新or删除，请<a href="/search">搜索</a>查看最新文章链接</p>
                    <div class="fof-footer">
                        <a href="{{ print `/` | relLangURL }}">Take Me Home</a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
