<footer class="footer">
  <div class="footer-taxonomy" style="text-align: center;color: darkgray;">
    {{ if eq .Site.Language.Lang "zh" }}
    <a href= {{ relLangURL "life" }} style="text-align: center;color: darkgray;">生活</a>
    
    <a href= {{ relLangURL "tags" }} style="text-align: center;color: darkgray;">标签</a>
    
    <a href= {{ relLangURL "tech" }} style="text-align: center;color: darkgray;">技术</a>
    <br><br>
    <a href= {{ relLangURL "uncopyright" }} style="color: darkgray;">无版权</a>
    {{ else }}
    <a href= {{ relLangURL "life" }} style="text-align: center;color: darkgray;">Life</a>
    
    <a href= {{ relLangURL "tags" }} style="text-align: center;color: darkgray;">Tags</a>
    
    <a href= {{ relLangURL "tech" }} style="text-align: center;color: darkgray;">Tech</a>
    <br><br>
    <a href= {{ relLangURL "uncopyright" }} style="color: darkgray;">Uncopyright</a>
    {{ end }}
  </div>
</footer>
