<footer class="footer">
  <div class="copyright">&copy; <a href="/" class="footer-note">yidajiabei</a> 2018 - {{ now.Year }}</div>
  <div class="footer-taxonomy">
    {{ if eq .Site.Language.Lang "zh" }}
    本站博文采用 <a href="https://creativecommons.org/licenses/by-nc/4.0" target="_blank" >知识共享署名 - 非商业性使用 4.0 国际许可协议 </a> 进行许可
    {{ else }}
    This site's blog posts use <a href="https://creativecommons.org/licenses/by-nc/4.0" target="_blank" > CC BY-NC 4.0 </a> for permission
    {{ end }}
    {{ if eq .Site.Language.Lang "zh" }}
    <a href="http://www.beian.miit.gov.cn/" target="_blank" >皖 ICP 备 20002237 号 - 1</a>&nbsp;&nbsp;
    {{ else }}
    {{ end }}

  </div>

</footer>
