@mixin base_dark {
  color: $fg-color-dark;
  background-color: $bg-color-dark;

  a {
    color: $link-color-dark;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $alt-fg-color-dark;
  }

  dl {
    margin: 1em;
  }

  dt {
    float: left;
    clear: left;
    width: 9.5em;
    margin: 0.125em;
    padding: 2px 4px;
    font-weight: 700;
  }

  dd {
    border-top: 1px #ccc;
    margin-top: 0.5em;
    margin-right: 0px;
    margin-bottom: 2em;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: block;
    margin-inline-start: 40px;
  }

  code {
    background-color: $alt-bg-color-dark;
    color: $fg-color-dark;
  }

  pre {
    code {
      background-color: inherit;
      color: inherit;
    }
  }

  blockquote {
    border-left: 3px solid $alt-bg-color-dark;
  }

  table td,
  table th {
    border: 2px solid $alt-fg-color-dark;
  }
}

body.colorscheme-dark {
  @include base_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include base_dark();
  }
}
