@mixin content_dark {
  .content {
    .list {
      ul {
        li {
          .title {
            color: $fg-color-dark;
            &:hover,
            &:focus {
              color: $link-color-dark;
            }
          }
        }
      }
    }
    .post {
      b,
      strong {
        border-bottom: 0.2em solid #50CB93;
        box-shadow: inset 0 -4px 0 #50CB93;
      }
    }
    .centered {
      .about {
        ul {
          li {
            a {
              color: $fg-color-dark;
              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
  }
}

body.colorscheme-dark {
  @include content_dark();
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark();
  }
}
