// Fonts
$text-font-family: 'Noto Sans SC', sans-serif;
$heading-font-family: 'Noto Sans SC', sans-serif;
$code-font-family: 'Source Code Pro', monospace;

// Colors
$bg-color: #FFFFFF !default;
$fg-color: #000000 !default;
$header-color: #666666 !default;
$alt-bg-color: #dddddd !default;
$alt-fg-color: #000 !default;
$link-color: #428bca !default;
$orange: #FFA500 !default;

// Colors dark
$bg-color-dark: #212121 !default;
$fg-color-dark: #dadada !default;
$alt-bg-color-dark: #424242 !default;
$alt-fg-color-dark: #dadada !default;
$link-color-dark: #36679f !default;
