$fontSize: 16px;
$tabSize: 2;
$lineHeight: 2;
$postWidth: 50em;
$listWidth: 50em;
$duration: .5s;

$displayBackToTopOnMobile: true;

{{ if .Site.Params.enableOverflowY }}
    $enableOverflowY: true;
{{ else }}
    $enableOverflowY: false;
{{ end }}

{{ with .Site.Params.maxHeight | default 20 }}
    $maxHeight: {{ . }}em;
{{ end }}

{{ if .Site.Params.enableCopy }}
    $enableCopy: true;
{{ else }}
    $enableCopy: false;
{{ end }}

{{ if .Site.Params.enableCopyAutoHide }}
    $enableCopyAutoHide: true;
{{ else }}
    $enableCopyAutoHide: false;
{{ end }}

{{ if .Site.Params.enableSmoothScroll }}
    $enableSmoothScroll: true;
{{ else }}
    $enableSmoothScroll: false;
{{ end }}

$baseRelURL: "{{ strings.TrimSuffix (.Site.BaseURL | relURL) "/" }}";


// Utilities

@import "utils/functions";
@import "utils/mixins";


// Base

@import "base/base";

// Typography

// Font Family

$fontFamilyCode: "'Source Code Pro', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Courier New', Monaco, monospace";
$fontFamilyBody: "-apple-system, system-ui, BlinkMacSystemFont, 'Noto Serif SC', Arial, 'Amstelvar', 'Josefin Sans', 'Hiragino Sans GB', 'Microsoft Yahei', 'ST Heiti', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'";
@import "base/font-family";

// Emphasis Point

{{ if .Site.Params.enableEmphasisPoint }}
    @import "base/emphasis-point";
{{ end }}

// Paragraph Indents

{{ if .Site.Params.enableParagraphIndent }}
    @import "base/indent";
{{ end }}


// Themes

// Light

{{ with .Site.Params.primaryColorLight | default "220, 90%, 56%" }}
    {{ $number := (split (replace . "%" "") ", ") }}
    {{ range $index, $value := $number }}
        {{ if eq $index 0 }}
            $primaryColorLightH: {{ $value | int }};
        {{ end }}
        {{ if eq $index 1 }}
            $primaryColorLightS: {{ $value | int }}%;
        {{ end }}
        {{ if eq $index 2 }}
            $primaryColorLightL: {{ $value | int }}%;
        {{ end }}
    {{ end }}
{{ end }}

{{ if and .Site.Params.enableDarkMode (eq .Site.Params.defaultTheme "dark") }}
    $defaultTheme: dark;
{{ else }}
    $defaultTheme: light;
{{ end }}

{{ if .Site.Params.enableHighlight }}
    $enableHighlight: true;
{{ else }}
    $enableHighlight: false;
{{ end }}

@import "themes/light";

// Dark Mode

{{ if .Site.Params.enableDarkMode }}
    {{ with .Site.Params.primaryColorDark | default "201, 65%, 62%" }}
        {{ $number := (split (replace . "%" "") ", ") }}
        {{ range $index, $value := $number }}
            {{ if eq $index 0 }}
                $primaryColorDarkH: {{ $value | int }};
            {{ end }}
            {{ if eq $index 1 }}
                $primaryColorDarkS: {{ $value | int }}%;
            {{ end }}
            {{ if eq $index 2 }}
                $primaryColorDarkL: {{ $value | int }}%;
            {{ end }}
        {{ end }}
    {{ end }}

    @import "themes/dark";
    @import "components/theme-switcher";
{{ end }}

// Menu Bar
@import 'layout/menu';
// List Page
$listDatePosition: left;
@import "layout/list";

{{ with .Site.Params.footnoteReturnLinkIcon }}
    $footnoteReturnLinkIcon: true;
{{ else }}
    $footnoteReturnLinkIcon: false;
{{ end }}

@import "layout/single";


// Footer

{{ if .Site.Params.enableFooter }}
    {{ with .Site.Params.iconColor }}
        $iconColor: {{ . }};
    {{ end }}

    {{ if .Site.Params.iconAnimation }}
        $iconAnimation: true;
    {{ else }}
        $iconAnimation: false;
    {{ end }}

    @import "layout/footer";
{{ end }}


// Components

{{ if and .Site.IsMultiLingual .Site.Params.enableLangToggle }}
    @import "components/multilingual";
{{ end }}

{{ if .Site.Params.enablePostGitInfo }}
    @import "components/post-gitinfo";
{{ end }}

{{ if .Site.Params.enableRelatedPosts }}
    @import "components/related-posts";
{{ end }}

{{ if .Site.Params.enableMinimalFooter }}
    @import "components/minimal-footer";
{{ end }}

{{ if .Site.Params.enablePostNav }}
    @import "components/post-nav";
{{ end }}

{{ if .Site.Params.enableBackToTop }}
    {{ if .Site.Params.enableBackToTopAutoHide }}
        $enableBackToTopAutoHide: true;
    {{ else }}
        $enableBackToTopAutoHide: false;
    {{ end }}

    @import "components/back-to-top";
{{ end }}

{{ if .Site.Params.enableHighlight }}
    @import "components/highlight";
{{ end }}


// Homepage Layout
@import "pages/home-poetry";

// Tags Page
@import "pages/tag-cloud";

// 404 Page

// https://github.com/reuixiy/hugo-theme-meme/issues/51
{{ if strings.HasPrefix .Site.Params.fofPoster "." }}
    {{ $fofPoster := printf `.%s` .Site.Params.fofPoster }}
    {{ .Scratch.Set "fofPoster" $fofPoster }}
{{ else }}
    {{ .Scratch.Set "fofPoster" .Site.Params.fofPoster }}
{{ end }}
{{ $fofPoster := .Scratch.Get "fofPoster" }}

$fofPoster: url({{ $fofPoster }});

@import "pages/404";

// Responsive

$greaterWidth: null;

@if ($postWidth > $listWidth) {
    $greaterWidth: $postWidth;
} @else {
    $greaterWidth: $listWidth;
}

@import "base/max-width";
:root {
    --max-width: #{$maxWidth};
}

@import "base/responsive";

// Data Attributes
@import "base/data-attributes";

// Custom

@import "custom/custom";
