<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

{{ partial "head.html" . }}

{{ $csClass := "colorscheme-light" }}
{{ if eq .Site.Params.colorscheme "dark" }}
{{ $csClass = "colorscheme-dark" }}
{{ else if eq .Site.Params.colorscheme "auto" }}
{{ $csClass = "colorscheme-auto" }}
{{ end }}

<body>
  <main class="wrapper">
    {{ partial "header.html" . }}

    <div class="content">
      {{ block "content" . }}{{ end }}
    </div>

    {{ partial "footer.html" . }}
    
  </main>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162698097-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-162698097-1');
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <!-- start webpushr code --> 
  <script>(function(w,d, s, id) {if(typeof(w.webpushr)!=='undefined') return;w.webpushr=w.webpushr||function(){(w.webpushr.q=w.webpushr.q||[]).push(arguments)};var js, fjs = d.getElementsByTagName(s)[0];js = d.createElement(s); js.id = id;js.src = "https://cdn.webpushr.com/app.min.js";fjs.parentNode.appendChild(js);}(window,document, 'script', 'webpushr-jssdk'));webpushr('setup',{'key':'BDagSJSZfeV_NlwQlAp_fxpx-bUUyj2koZDanYT23FHTtPjc88AU0_pcg8IQBt5SMwgIoNO908wkTq9LdJqjF-U' });</script>
  <!-- end webpushr code -->
  
</body>

</html>
