<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body class="pb-16 text-base text-[16px] dark:text-[#a6adbb] dark:bg-[rgba(49,49,53,1)] text-[rgba(49,49,53,1)] bg-[#ededed] break-words leading-relaxed transition-all duration-500 selection:bg-[rgba(42,109,244,0.3)]
  ">
  <div class="flex flex-col min-h-full min-w-1/2">
    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "components/back-to-top.html" . }}
  </div>
  {{ partial "components/service-worker.html" . }}

  {{ if ne .Kind "404" }}
    {{ partial "script.html" . }}
  {{ end }}
</body>

</html>