{{ define "main" }}
    {{- $path := "" -}}
    {{- with .File -}}
        {{- $path = .Path -}}
    {{- else -}}
        {{- $path = .Path -}}
    {{- end -}}

    {{ if and (eq .Kind "section") .Content }}
        {{ partial "pages/post.html" . }}
    {{ else }}
        <main class="max-w-[880px] mx-auto p-[2em_1em_15em] block single pb-20 main list" id="main" data-pagefind-ignore>
            <div class="w-[50em] main-inner">
                <div class="content list-group">

                    {{ .Scratch.Delete "pages" }}

                    <!-- Section -->
                    {{ if (eq .Kind "section") }}
                        <!-- Archives -->
                        {{ if (eq .Section "archives") }}
                            {{ $pages := (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
                            {{ .Scratch.Set "pages" $pages }}
                        <!-- Regular Section -->
                        {{ else }}
                            {{ $sectionPage := .CurrentSection }}
                            {{ range .Site.RegularPages }}
                                {{ if (.IsDescendant $sectionPage) }}
                                    {{ $.Scratch.Add "pages" (slice .) }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                    <!-- Taxonomy (See `taxonomy` folder) -->

                    <!-- Taxonomy Term -->
                    {{ if (eq .Kind "term") }}
                        {{ $pages := .Pages }}
                        {{ $.Scratch.Set "pages" $pages }}
                    {{ end }}

                    <!-- Start List -->
                    {{ $pages := .Scratch.Get "pages" }}
                    {{ range $pages.GroupByDate "2006" }}
                      {{ $.Scratch.Set "year" .Key }}
                      {{ $year := $.Scratch.Get "year" }}
                      <h2 class="list-year">{{ $year }}</h2>
                      {{ partial "utils/list-item.html" (dict "$" .) }}
                    {{ end }}
                </div>
            </div>
        </main>
    {{ end }}
{{ end }}
