{{ define "main" }}
<main class="mx-auto sm:max-w-[880px] p-[2em_1em_15em] flex justify-center pb-20" id="main">
    <div class="m-auto">

        {{ $attrs := partial "utils/data-attributes.html" . }}

        <article class="content post h-entry "
        {{- if $attrs.smallCaps }} data-small-caps="true"{{ end }}
        {{- with $attrs.align }} data-align="{{ . }}"{{ end }}
        {{- with $attrs.type }} data-type="{{ . }}"{{ end }}
        {{- with $attrs.layout }} data-layout="{{ . }}"{{ end }}
        {{- if $attrs.indent }} data-indent="true"{{ end }}
        {{- if $attrs.tocNum }} data-toc-num="true"{{ end }} data-pagefind-body>

            <h1 class="text-center post-title p-name">{{ (partial "utils/title.html" (dict "$" $ "title" $.Title)).htmlTitle }}</h1>

            {{ $enableTOC := .Params.toc -}}
            {{- if $enableTOC -}}
                {{- partial "utils/toc.html" . -}}
            {{- end -}}

            <div class="mt-16 post-body e-content">
                {{ partial "utils/content.html" . }}
            </div>

        </article>

        {{ partial "components/related-posts.html" . }}

        {{ partial "components/minimal-footer.html" . }}

        {{ partial "components/post-nav.html" . }}

        {{ partial "components/comments.html" . }}
    </div>
</main> 

{{ end }}