.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;

  .poetry {
    font-size: 1em;
    width: auto;
    max-width: 26em;
    margin: 0 auto;
    padding: 10em 1em;
  }
}
