.tag-cloud {
  text-align: center;
}

.tag-cloud-item {
  margin: 0.5rem;
  display: inline-block;
  &:hover {
    color: #548bf4;
  }
  .tag-cloud-item-count {
    display: inline-block;
    position: relative;
    top: -15px;
    color: #548bf4;
  }
}
