.tag-cloud {
  text-align: center;
}

.tag-cloud-item {
  margin: 0.5rem;
  display: inline-block;
}

.tag-cloud-item > .tag-cloud-item-count {
  display: none;
}

.tag-cloud-item:hover > .tag-cloud-item-count {
  display: inline-block;
  position: relative;
  top: -15px;
}
