{{ define "content" }}
<section class="container list">
  共计 {{ len (where .Site.RegularPages "Section" "posts") }} 篇日志
  <ul>
    {{ range .Pages.GroupByDate "2006" }}
    <h2 id="{{ .Key }}" class="archive-title" style="margin: 2em auto 1.5em auto;text-align: center">{{ .Key }}</h2>
    {{ range .Pages.GroupByDate "2006-01-02" }} {{ range .Pages }}
    <p style="display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;">
      <span>{{ .Date.Format "2006-01-02" }}</span>
      <a href="{{ .RelPermalink }}" style="font-weight: normal;">{{ .Title }}</a>
    </p>
    {{ end }} {{ end }} {{ end }}
  </ul>
</section>
{{ end }}