{{ define "main" }}

{{/* Build page link relationships */}}
{{ partial "components/link-relationships.html" . }}

<article data-pagefind-body>

  {{/* --- Article title --- */}}
  <h1>{{ .Title }}</h1>

  {{/* --- Publication date --- */}}
  <p>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </p>

  {{/* --- Main content --- */}}
  <div>
    {{ $content := .Content }}
    {{/* Add target="_blank" and rel="noreferrer" to external links */}}
    {{ $content = $content | replaceRE `<a href="(https?://[^"]+)"` `<a href="$1" target="_blank" rel="noreferrer"` }}
    {{ $content | safeHTML }}
  </div>

  <hr>

  {{ partial "content/post-tags.html" . }}
</article>


{{/* ============================================
     Related components
     ============================================ */}}

{{/* --- Backlinks list --- */}}
{{ partial "content/backlinks.html" . }}


{{/* --- Knowledge graph --- */}}
<section class="flex flex-col space-y-4" aria-hidden="true">
  <h2 class="flex flex-row items-center space-x-2 text-lg font-semibold">
    {{ partial "svg/chart-network" }}
    <span>Graph</span>
  </h2>
  {{ partial "components/graph.html" (dict "page" . "class" "h-64 ml-6") }}
</section>


{{/* --- Footer and comments --- */}}
{{ partial "components/email-reply.html" . }}

{{ end }}