.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;

  .home-title {
    font-family: "jinkaiFont";
    font-size: 40px;
    font-variation-settings: "wght" 550, "opsz" 60, "YOPQ" 90;
  }

  .poetry {
    font-size: 1em;
    width: auto;
    max-width: 26em;
    margin: 0 auto;
  }

  .poetry .en {
    font-style: italic;
  }

  @media (max-width: 400px) or (max-height: 667px) {
    .logo-and-title {
      display: none;
    }
  }
}
