.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;

  .home-title {
    font-family: 'jinkaiFont';
    font-size: 40px;
    font-variation-settings: 'wght' 550, 'opsz' 60, 'YOPQ' 90;

    @media (max-width: 600px) or (max-height: 900px) {
      display: none;
    }
  }

  .poetry {
    font-size: 1em;
    width: auto;
    max-width: 26em;
    margin: 0 auto;
    padding: 10em 1em;
  }
  .poetry .en {
    font-style: italic;
  }
}
