body {
  background-color: white;
  color: #0c0c0c;
  font-size: 15px;
  font-family: "Noto Serif SC", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
  padding: 0 0;
  color: #a5573e;
}

div#content {
  max-width: 780px;
  margin: 12px auto 12px auto;
}

@media (max-width: 780px) {
  div#content {
    border: none;
    margin: 0 0;
    padding: 8px 8px;
  }
}

h1 {
  font-weight: normal;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
}

h1.title {
  padding: 0.75em 0em 0.5em;
  font-size: 32px;
  margin-bottom: 0;
  border-bottom: none;
  color: black;
}

h2 {
  font-size: 28px;
  margin: 25px 0 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

h3 {
  font-size: 22px;
  margin: 25px 0 20px;
  padding-bottom: 8px;
  border-bottom: 1px dashed #ccc;
}

h4 {
  font-size: 18px;
  margin: 20px 0;
}

h5,
h6 {
  font-size: 16px;
  margin: 18px 0;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 22px;
  text-align: justify;
}

#table-of-contents {
  margin-bottom: 16px;
  padding: 1px 16px 16px;
  background-color: #fff8f8;
  font-size: 90%;
}

#text-table-of-contents {
  margin-top: 16px;
}

#table-of-contents a {
  text-decoration: none;
}

#table-of-contents ul {
  margin: 0;
  padding-left: 20px;
}

#table-of-contents ul li {
  padding: 2px 0;
}

blockquote {
  padding: 0px 15px;
  margin: 16px 0;
  border-left: 2px solid rgba(40, 50, 60, 0.85);
  overflow: auto;
  word-wrap: break-word;
}

blockquote p,
blockquote ol,
blockquote ul {
  color: #555;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.figure {
  margin: 0;
  padding: 0;
}

img {
  border: 1px solid #e8e8e8;
  padding: 5px;
  max-width: 100%;
  border-radius: 2px;
}

a {
  color: #527d9a;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

table {
  margin: 1em auto;
  border-top: 2px solid;
  border-collapse: collapse;
}
table,
thead {
  border-bottom: 2px solid;
}
table td + td,
table th + th {
  border-left: 1px solid grey;
}
table tr {
  border-top: 1px solid #d3d3d3;
}
td,
th {
  padding: 0.3em 0.6em;
  vertical-align: middle;
}

pre,
code {
  font-family: "JetBrains Mono", Consolas, "ubuntu", "DejaVu Sans Mono", Monaco,
    "Courier New", monospace;
  font-size: 14px;
}

pre {
  box-shadow: none;
  padding: 16px;
  margin: 0 0;
  border: none;
  background-color: whitesmoke;
  margin-bottom: 16px;
  border-radius: 2px 2px;
  white-space: pre-wrap;
  overflow-x: auto;
}

code {
  background-color: whitesmoke;
  padding: 2px 2px;
  margin: 0 2px;
  border-radius: 2px;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#postamble {
  max-width: 780px;
  margin: 32px auto;
  color: #888;
  font-size: 13px;
}

div#postamble p {
  padding: 0;
  margin: 0;
}

div#postamble a {
  color: #888;
}

div#postamble a:hover {
  color: #900;
}

dl.org-dl dd {
  padding: 4px 0 8px 25px;
  margin-left: 0;
}

dl.org-dl dd ul.org-ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

.timestamp {
  color: #000;
}
