<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="{{ .Site.BaseURL | relLangURL }}">
      {{ .Site.Title }}
    </a>
    <input type="checkbox" id="menu-toggle" />
    <label class="menu-button float-right" for="menu-toggle"><i class="fas fa-bars"></i></label>
    <ul class="navigation-list">
      {{ with .Site.Menus.main}}
        {{ range sort . }}
          <li class="navigation-item">
            {{- $linkType := (string .Pre) -}}
            <a class="navigation-link" href="{{ .URL | absLangURL }}"{{ if eq $linkType "external" }} target="_blank" rel="external noopener"{{ end }}>{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}

      <li class="navigation-list navigation-item" x-data="{ open: false }">
          <button class="text-gray-600" id="modal-search" role="button" @click="open = true">
              <i class="text-2xl fas fa-search"></i>
          </button>
          <div x-show="open" style="display:none" class="fixed z-10 mx-auto my-auto inset-0 overflow-y-auto">
              <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                  <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                  </div>
                  <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                  <input type="search" name="search" id="search" class="focus:ring-indigo-500 block w-full m-4 px-4 sm:text-lg border-gray-300 rounded-md" placeholder="Search..." @keydown.escape="open = false" @click.away="open = false">
              </div>
          </div>
      </li>
    </ul>
  </section>
</nav>
