<nav class="navigation">
      <section class="container">
      <a class="navigation-title" href="{{ .Site.BaseURL | relLangURL }}">
        {{ .Site.Title }}
      </a>
      <ul class="navigation-list">
        {{ with .Site.Menus.main}}
          {{ range sort . }}
            <li class="navigation-item">
              {{- $linkType := (string .Pre) -}}
              <a class="navigation-link" href="{{ .URL | absLangURL }}" {{ if eq $linkType "external" }} target="_blank" rel="external noopener"{{ end }}>{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </section>
  </nav>