{{ define "main" }}
<main class="flex flex-col max-w-md mx-auto px-4 sm:px-6 md:max-w-2xl lg:max-w-xl">
  <div class="py-12">
    <div class="flex flex-col sm:flex-row items-center sm:items-start border-0">
      <img class="w-1/2 sm:w-1/3 md:w-1/4 mb-4 sm:mb-0 rounded-full border-0" src="/images/me.webp" alt="logo">

      <div class="border-0 mx-2 text-center sm:text-left">
        <p class="text-lg sm:text-center">一大加贝 &lt;=&gt; 天 + 贺</p>
        <p class="mt-2">Hi, I'm tianheg. I write this blog in both Chinese and English <br> to share my life
          experiences.</p>
        <p class="mt-2">I hope you enjoy reading it!</p>
      </div>
    </div>

    <div class="text-1xl leading-10 pt-10">
      <p>探索的人</p>
      <p class="italic font-serif">The Explorer</p>
      <p>了解自己，认识世界</p>
      <p class="italic font-serif">Knowing oneself, grasp the world</p>
      <p>谨以此博客献给此时的自己</p>
      <p class="italic font-serif">Dedicated to the present self</p>
    </div>
  </div>

  <hr>

  <ul>
    <li>Spend less than you earn</li>
    <li>Avoid toxic people and toxic activities in both work and life</li>
    <li>Try and keep learning all your life</li>
    <li>Learn fast</li>
    <li>Do a lot of deferred gratification because you prefer life that way</li>
  </ul>

  <h2>1. ME IN 10 SECONDS</h2>
  <div>
    <ul>
      <li>born on June 28, 2000</li>
      <li>a man who is straight</li>
      <li>always trying to understand myself and connecting with people</li>
    </ul>
  </div>

  <h2>2. ME IN 10 MINUTES</h2>
  <div>
    <p>
      See <a href="/about-more">my "More about" page</a>.
    </p>
  </div>

  <h2>3. Search this site</h2>
  <div>
    <p>
      Go to <a href="/search">the search page</a> to use to search for any word or phrase.
    </p>
  </div>

  <h2>4. Some links</h2>
  <div>
    <ul>
      <li><a href="/links">Blogroll</a></li>
      <li><a href="/support">Support me & I support people</a></li>
      <li><a href="/uses">Uses</a></li>
      <li><a href="https://img.tianheg.org/" target="_blank">Photos I shot & Images I like from internet</a></li>
    </ul>
  </div>

  <h2>5. Leave a comment & RSS</h2>
  <div>
    <p>
      Way 1: Email <code class="select-all">i@tianheg.co</code>
    </p>

    <p>
      RSS: <a href="https://tianheg.co/index.xml">https://tianheg.co/index.xml</a>
    </p>
  </div>

  <hr class="mt-4">

  <footer id="footer" class="p-4 bottom-0">
    <div class="mx-auto text-center">
      <div class="site-info">
        2018 – now &nbsp; by &nbsp; tianheg
      </div>
    </div>
  </footer>
</main>

{{ end }}
