{{ define "main" }}
  <main class="home">
    <div class="logo-and-title">
      <div class="logo"><img src="/images/logo.png" alt="logo" width="100" height="100"></div>
      <div class="home-title">一大加贝</div>
    </div>

    <div class="poetry">
      <p>探索的人</p>
      <p class="en">The Explorer</p>
      <p>了解自己，认识世界</p>
      <p class="en">Knowing oneself, grasp the world</p>
      <p>谨以此博客献给此时的自己</p>
      <p class="en">Dedicated to the present self</p>
    </div>
  </main>

  {{ partial "footer.html" . }}
{{ end }}