.list-title, .term-title, .list-year, .list-month {
    font-family: 'glyph-correction', 'Cinzel Decorative', 'Noto Serif SC', serif;
}

.brand {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1;
}

.nav {
    font-size: 1em;
    margin-top: 0.4em;
}

.home .poetry {
    padding: 10em 1em;
}

@media (max-width: $maxWidth) {
    .nav {
        margin: 2em 0;
    }
    .menu-item .icon {
        display: inline-block;
    }
    .menu-item-name {
        font-size: 80%;
    }
}

.nav-toggle {
    transform: translateY(0.4em);
}

.footer {
    letter-spacing: -0.1em;
}

// https://github.com/TypeNetwork/Amstelvar

// Magic adjustment for en
@if ($lineHeight != 2) {
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../../fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
             url('../../fonts/Amstelvar-Roman-VF.woff2') format('woff2');
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: normal;
    }
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../../fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
             url('../../fonts/Amstelvar-Italic-VF.woff2') format("woff2");
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: italic;
    }
} @else {
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
             url('../fonts/Amstelvar-Roman-VF.woff2') format('woff2');
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: normal;
    }
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
             url('../fonts/Amstelvar-Italic-VF.woff2') format("woff2");
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: italic;
    }
}

:root {
    --text-wdth: 90;
    --text-opsz: 80;
    --text-YTLC: 460;
}

body {
    font-variation-settings:
        'wdth' var(--text-wdth),
        'opsz' var(--text-opsz),
        'YTLC' var(--text-YTLC);
}

.list-item-time {
    font-feature-settings: 'tnum';
}

// 短代码

// 卡片风格
.mytag{
    position: relative;
    left: 0; right: 0;
    width: 100%;
    height: 100%;
    line-height: 2;
    margin: auto;
    border-radius: 5px;
    background: rgba(241, 238, 238, 0.2);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.mytag::before{
    content: '';
    position: relative;
    left: 0; right: 0;
    filter: blur(20px);
    z-index: -1;
    margin: -30px;
}

