.list-title, .term-title, .list-year, .list-month {
    font-family: 'glyph-correction', 'Cinzel Decorative', 'Noto Serif SC', serif;
}

.brand {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 1;
}

.nav {
    font-size: 1em;
    margin-top: 0.4em;
}

.home .poetry {
    padding: 10em 1em;
}

.life {
    color: #f37055;
}
.tech {
    color: #a166ab;
}
.about {
    color: #07b39b;
}

.menu-item .icon {
    display: none;
}

@media (max-width: $maxWidth) {
    .nav {
        margin: 2em 0;
    }
    .menu-item .icon {
        display: inline-block;
    }
    .menu-item-name {
        font-size: 80%;
    }
}

.nav-toggle {
    transform: translateY(0.4em);
}

.footer {
    letter-spacing: -0.1em;
}

// https://github.com/TypeNetwork/Amstelvar

// Magic adjustment for en
@if ($lineHeight != 2) {
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../../fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
             url('../../fonts/Amstelvar-Roman-VF.woff2') format('woff2');
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: normal;
    }
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../../fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
             url('../../fonts/Amstelvar-Italic-VF.woff2') format("woff2");
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: italic;
    }
} @else {
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../fonts/Amstelvar-Roman-VF.woff2') format('woff2-variations'),
             url('../fonts/Amstelvar-Roman-VF.woff2') format('woff2');
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: normal;
    }
    @font-face {
        font-family: 'Amstelvar';
        font-display: swap;
        src: url('../fonts/Amstelvar-Italic-VF.woff2') format('woff2-variations'),
             url('../fonts/Amstelvar-Italic-VF.woff2') format("woff2");
        font-weight: 100 900;
        font-stretch: 50% 125%;
        font-style: italic;
    }
}

:root {
    --text-wdth: 90;
    --text-opsz: 80;
    --text-YTLC: 460;
}

body {
    font-variation-settings:
        'wdth' var(--text-wdth),
        'opsz' var(--text-opsz),
        'YTLC' var(--text-YTLC);
}

.list-item-time {
    font-feature-settings: 'tnum';
}

// 短代码

// quote

blockquote.quote {
    position: relative;
    margin: 2em auto;
    padding-left: 3em;
    color: inherit;
    border: none;
    &::before {
        position: absolute;
        left: 0;
        content: '“';
        font-size: 3em;
        font-weight: bold;
        line-height: 1;
    }
    &.poetry {
        display: table;
        padding: 0;
        &::before {
            left: -1em;
        }
        p:last-child {
            margin: 0;
        }
    }
    &.en {
        p {
            line-height: 1.618;
            text-align: left;
            hyphens: auto;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
        }
    }
}

@media (max-width: $maxWidth) {
    blockquote.quote {
        &.poetry {
            padding-left: 3em;
            &::before {
                left: 0;
            }
        }
    }
}

// quote-center

blockquote.quote-center {
    position: relative;
    border-left: none;
    padding-left: 0;
    border-top: 1px solid var(--color-contrast-lower);
    border-bottom: 1px solid var(--color-contrast-lower);
    p{
        text-align: center !important;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    &::before {
        position: absolute;
        left: 0;
        content: '“';
        color: var(--color-contrast-low);
        font-size: 3em;
        font-weight: bold;
        margin-top: -0.42em;
    }
    &::after {
        position: absolute;
        right: 0;
        content: '”';
        color: var(--color-contrast-low);
        font-size: 3em;
        font-weight: bold;
        margin-top: -0.7em;
    }
}

/* 文件位置：~/assets/scss/custom/_custom.scss */

/* 友链样式 */
.blogroll {
    padding: 1em 0;
    border: 2px solid transparent;
    border-bottom: 1px dashed var(--color-contrast-low);
    display: flex;
}
.blogroll .friend {
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.blogroll .name {
    font-weight: bold;
    margin: 0.375em 0;  
}
.blogroll .excerpt {
    font-size: 0.875em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.blogroll .avatar {
    width: 4em !important;
    height: 4em !important;
    margin: 0 1em 0 0 !important;
    z-index: 0;
}


// 自定义的页脚微信订阅号样式

.subscription-icon {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    transition: fill .5s;
    &:hover {
        fill: #7BB32E;
    }
}
.subscription-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    cursor: pointer;
    border: 1px solid var(--color-contrast-lower);
    background-color: var(--color-bg);
    transition: all 0.35s ease-in-out;
    z-index: 5;
    opacity: 0;
}
.subscription-box {
    position: absolute;
    bottom: 1em;
    left: 1.2em;
    &:hover {
        .subscription-hover {
            bottom: 1.5em;
            left: 1.5em;
            height: 12em;
            width: 10.6em;
            opacity: 1;
        }
    }
}
.subscription-qrcode {
    position: absolute;
    bottom: 0.7em;
    left: 0;
    height: 100%;
    width: 100%;
}
.subscription-description {
    position: absolute;
    bottom: 1%;
    left: 5%;
    right: 5%;
    font-size: 80%;
    overflow: hidden;
    white-space: nowrap;
}

// 文件位置：~/assets/scss/custom/_custom.scss

.github {
    border: 1px solid var(--color-contrast-low);
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    .github-icon {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5em;
        margin-bottom: 0.2em;
        fill: var(--color-contrast-high);
        transition: all .5s;
    }
    .name {
        font-weight: bold;
        color: var(--color-primary);
        text-decoration: none;
    }
    .description {
        margin-top: 0.5em;
        margin-bottom: 1em;
        color: var(--color-contrast-high);
        text-align: justify;
        font-size: 90%;
        transition: all .5s;
    }
    .language-color {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 0.75em;
        height: 0.75em;
        border-radius: 50%;
    }
    .language-name {
        color: var(--color-contrast-high);
        font-size: 90%;
        margin-left: 0.5em;
        transition: all .5s;
    }
}

// 卡片风格
.mytag{
    position: relative;
    left: 0; right: 0;
    width: 100%;
    height: 100%;
    line-height: 2;
    margin: auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.mytag::before{
    content: '';
    position: relative;
    left: 0; right: 0;
    filter: blur(20px);
    z-index: -1;
    margin: -30px;
}

// 文字渐变色
.colorfulfont {
background: linear-gradient(to right, red,#45ed63);
-webkit-background-clip: text;
color: transparent;
}

//设置百度search样式
.searchbar {     
	border: rgb(120, 120, 120) solid 2px;
	border-radius: 2em;    /*左右边框为半圆*/
	width: 80%;
	height: 40px;
	box-shadow: 0px 0px 10px rgb(125, 125, 125);
	margin: 0 auto;  /*重要！整个搜索框居中对齐*/
	padding: 4px;
	/*margin-top: 90px;	*/
}
.search{ 
	height: 38px;
	border:none;    /*取消默认的边框以设置自定义边框*/
	outline:none;   /*取消浏览器默认的蓝光边框以设置自定义的输入框*/   
	vertical-align: middle;
	/*background: #000000*/
	background-color:transparent;/*搜索框与搜索按钮透明*/
	
	width: 90%;
	margin-left: 10px;
	font: bolder;
	font-size: 20px;
	color:rgb(120, 120, 120);	
}

// 顶部阅读进度条
.top-scroll-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 0;
    height: 3px;
    background: #ef3982;
}
