{{ define "main" }}
    {{- $Deliver := . -}}
    <main class="main single" id="main">
        <div class="main-inner">

            {{ partial "utils/data-attributes.html" . }}
            {{- $smallCaps := .Scratch.Get "smallCaps" -}}
            {{- $align := .Scratch.Get "align" -}}
            {{- $type := .Scratch.Get "type" -}}
            {{- $layout := .Scratch.Get "layout" -}}
            {{- $indent := .Scratch.Get "indent" -}}
            {{- $tocNum := .Scratch.Get "tocNum" -}}

            <article class="content post"
            {{- if $smallCaps }} data-small-caps="true"{{ end }}
            {{- with $align }} data-align="{{ . }}"{{ end }}
            {{- with $type }} data-type="{{ . }}"{{ end }}
            {{- with $layout }} data-layout="{{ . }}"{{ end }}
            {{- if $indent }} data-indent="true"{{ end }}
            {{- if $tocNum }} data-toc-num="true"{{ end }}>
                
                <h1 class="post-title">{{ .Title }}</h1>

                {{ with .Params.subtitle }}
                    {{- $raw := . -}}
                    {{- partial "utils/markdownify.html" (dict "Deliver" $Deliver "raw" $raw "isContent" false) -}}
                    {{- $Content := $Deliver.Scratch.Get "Content" -}}
                    <div class="post-subtitle">{{ $Content }}</div>
                {{ end }}

                {{ if .Site.Params.displayPostDescription }}
                    {{ with .Params.description }}
                        {{- $raw := . -}}
                        {{- partial "utils/markdownify.html" (dict "Deliver" $Deliver "raw" $raw "isContent" false) -}}
                        {{- $Content := $Deliver.Scratch.Get "Content" -}}
                        <div class="post-description">{{ $Content }}</div>
                    {{ end }}
                {{ end }}
                {{- partial "utils/content.html" . -}}
                {{- $Content := .Scratch.Get "Content" -}}
                <div class="post-body">
                    {{ range .Site.Data.blogroll }}
                        {{ range sort . "weight" }}
                            <div class="blogroll">
                                <img class="avatar" src="{{ .avatar }}"/>
                                <a class="friend" href="{{ .url }}" target="_blank">
                                    <div class="name">{{ .name }}</div>
                                    <div class="excerpt">{{ .description }}</div>
                                </a>  
                            </div>
                        {{ end }}
                    {{ end }}
                    {{ partial "utils/content.html" . }}
                    {{- $Content -}}
                </div>

            </article>

            {{ partial "components/comments.html" . }}

        </div>
    </main>
{{ end }} 