{{- $author := dict -}}
  {{- with .Params.author -}}
      {{- $author = merge $author (dict "name" .) -}}
  {{- end -}}
  {{- with .Params.email -}}
      {{- $author = merge $author (dict "email" .) -}}
  {{- end -}}
  {{- with .Params.motto -}}
      {{- $author = merge $author (dict "motto" .) -}}
  {{- end -}}
  {{- with .Params.avatar -}}
      {{- $author = merge $author (dict "avatar" .) -}}
  {{- end -}}
  {{- with .Params.website -}}
      {{- $author = merge $author (dict "website" .) -}}
  {{- end -}}
  {{- with .Params.copyright -}}
      {{- $author = merge $author (dict "copyright" .) -}}
  {{- end -}}
  {{- with .Params.twitter -}}
      {{- $author = merge $author (dict "twitter" .) -}}
  {{- end -}}
{{- return $author -}}
