* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 0;
}

h1 {
  color: hotpink;
  font-size: 3.4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 1rem dotted purple;
}

h2 {
  font-size: 2.4rem;
  font-style: italic;
}

.job-title {
  color: #999;
  font-weight: bold;
}

ul {
  background-color: #eee;
  border: 0.5rem solid purple;
}
ul li:nth-child(1) {
  padding-top: 1rem;
}
ul li:last-child {
  padding-bottom: 1rem;
}

a:link,
a:visited {
  color: #fb6542;
  text-decoration: none;
}

a:hover {
  color: green;
}
