.main {
  padding-bottom: 5em;
}

.post-body {
  margin-top: 4em !important;
}

.nav {
  font-size: 1em;
  margin-top: 0em;
}

.menu-item-name {
  font-size: .9em;
}

[data-theme="dark"] {

  .theme-icon-dark,
  .footer-icon {
    opacity: 0.75;
  }
}

@media (max-width: $maxWidth) {
  .nav {
    margin: 0;
  }

  :root {
    .theme-icon-light {
      display: inline;
    }
  }

  [data-theme="dark"] {
    .theme-icon-dark {
      display: inline !important;
    }
  }

  #lang-switcher {
    margin: 0;
  }
}

.nav-toggle {
  transform: translateY(0.4em);
}

.footer {
  letter-spacing: -0.1em;
}


// https://github.com/manateelazycat/manateelazycat.github.io/blob/c41b2ec702e4ccd9ff28e1b0ae1021f496e573b1/styles/font.css

@font-face {
    font-family: 'jinkaiFont';
    font-display: swap;
    src: url('#{$baseRelURL}/fonts/jinkai03-W03-only-yidajiabei.woff2') format('woff2');
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-stretch: 50% 125%;
    font-style: normal;
}

:root {
  --text-wdth: 90;
  --text-opsz: 40;
  --text-YTLC: 460;
}

body {
  font-variation-settings:
    'wdth' var(--text-wdth),
    'opsz' var(--text-opsz),
    'YTLC' var(--text-YTLC);
}

// .post-title {
//     font-family: 'jinkaiFont';
//     font-variation-settings:
//         'wght' 550,
//         'opsz' 60,
//         'YOPQ' 90;
// }

// .list-item-time {
//     font-feature-settings: 'tnum';
// }


// blockquote.quote {
//     position: relative;
//     margin: 2em auto !important;
//     padding-left: 3em;
//     color: inherit;
//     border: none;

//     p {
//         text-indent: 0 !important;
//     }

//     &::before {
//         position: absolute;
//         left: 0;
//         content: '“';
//         font-size: 3em;
//         font-weight: bold;
//         line-height: 1;
//     }

//     &.poetry {
//         display: table;
//         padding: 0;

//         &::before {
//             left: -1em;
//         }

//         p {
//             margin: 0 0 1em;
//         }

//         p:last-child {
//             margin: 0;
//         }
//     }

//     &.en {
//         p {
//             line-height: 1.618;
//             text-align: left;
//             hyphens: auto;
//             -webkit-hyphens: auto;
//             -moz-hyphens: auto;
//         }
//     }

//     &.italic {
//         p {
//             font-style: italic;
//         }
//     }
// }

@media (max-width: $maxWidth) {
  blockquote.quote {
    &.poetry {
      padding-left: 3em;

      &::before {
        left: 0;
      }
    }
  }
}

// shorter than 394px
@media (max-width: 394px) {
  .menu .time {
    display: none;
  }
  .menu {
    padding-left: 1.42em;
  }
}

// /msg form style
//
.msg-form {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 25px var(--color-contrast-high);
  // color: var(--color-contrast-high);
  // background-color: var(--color-bg);

  form {

    input[type="text"],
    input[type="email"],
    textarea,
    button {
      display: block;
      width: 100%;
      margin-inline: 10px;
      padding: 10px;
      margin-bottom: 15px;
      font-size: 1rem;
      color: var(--color-contrast-high);
      background-color: var(--color-bg);
      border: 1px solid var(--color-contrast-high);
      border-radius: 3px;
    }

    textarea {
      height: 150px;
      resize: vertical;
    }

    button {
      cursor: pointer;
      background-color: var(--form-btn-bgcolor);

      &:hover {
        background-color: var(--form-btn-bghcolor);
      }
    }
  }
}