{{- $Content := partial "utils/markdownify.html" (dict "$" . "raw" .Content "isContent" true) -}}

<!-- Link Headings to TOC -->
{{- $enableTOC := .Params.toc -}}
{{- if and $enableTOC .Site.Params.linkHeadingsToTOC -}}
  {{- $regexPatternLinkHeadings := `(<h[1-6] id="([^"]+)">)(.+)?(</h[1-6]+>)` -}}
  {{- $regexReplacementLinkHeadings := `$1<a href="#contents:$2" class="headings">$3</a>$4` -}}
  {{- $Content = $Content | replaceRE $regexPatternLinkHeadings $regexReplacementLinkHeadings -}}
{{- end -}}

<!-- Headings Anchor -->
{{- if .Params.anchor -}}
  {{- $headings := .Scratch.Get "headings" -}}
  {{- $headings := $headings | default "1-6" -}}

  
  {{- $icon := .Scratch.Get "icon" -}}
  {{- $anchor := $icon | default "§" -}}
  
  {{- $replacement := (printf `$1<span class="relative transform-none float-right">%s</span>$3$4` $anchor) -}}
  {{- $.Scratch.Set "replacement" $replacement -}}
  
  {{- $replacement := .Scratch.Get "replacement" -}}

  {{- $regexPatternHeadingsAnchor := (printf `(<h[%s] id="([^"]+)">)(.+)?(</h[%s]+>)` $headings $headings) -}}
  {{- $regexReplacementHeadingsAnchor := $replacement -}}
  {{- $Content = $Content | replaceRE $regexPatternHeadingsAnchor $regexReplacementHeadingsAnchor -}}
{{- end -}}


<!-- Footnote Ref with Square Brackets `[]` -->
{{- if .Site.Params.squareBrackets -}}
    {{- $regexPatternFootnoteRef := `(<sup id="fnref:\d+"><a href="#fn:\d+"[^>]+>)(\d+)(</a></sup>)` -}}
    {{- $regexReplacementFootnoteRef := `$1[$2]$3` -}}
    {{- $Content = $Content | replaceRE $regexPatternFootnoteRef $regexReplacementFootnoteRef -}}
{{- end -}}


<!-- Responsive tables -->
{{- $Content = $Content | replaceRE `<table\b` `<div class="table-container"><table` -}}
{{- $Content = $Content | replaceRE `</table>` `</table></div>` -}}

<!-- Final Content -->
{{- $Content | safeHTML -}}
