{{- $Content := partial "utils/markdownify.html" (dict "$" . "raw" .Content "isContent" true) -}}

<!-- Link Headings to TOC -->
{{- $enableTOC := .Params.toc -}}
{{- if and $enableTOC .Site.Params.linkHeadingsToTOC -}}
  {{- $regexPatternLinkHeadings := `(<h[1-6] id="([^"]+)">)(.+)?(</h[1-6]+>)` -}}
  {{- $regexReplacementLinkHeadings := `$1<a href="#contents:$2" class="headings">$3</a>$4` -}}
  {{- $Content = $Content | replaceRE $regexPatternLinkHeadings $regexReplacementLinkHeadings -}}
{{- end -}}

<!-- Headings Anchor -->
{{- if .Params.anchor -}}
  {{- $headings := .Scratch.Get "headings" -}}
  {{- $headings := $headings | default "1-6" -}}

  
  {{- $icon := .Scratch.Get "icon" -}}
  {{- $anchor := $icon | default "§" -}}
  
  {{- $replacement := (printf `$1<span class="relative transform-none float-right">%s</span>$3$4` $anchor) -}}
  {{- $.Scratch.Set "replacement" $replacement -}}
  
  {{- $replacement := .Scratch.Get "replacement" -}}

  {{- $regexPatternHeadingsAnchor := (printf `(<h[%s] id="([^"]+)">)(.+)?(</h[%s]+>)` $headings $headings) -}}
  {{- $regexReplacementHeadingsAnchor := $replacement -}}
  {{- $Content = $Content | replaceRE $regexPatternHeadingsAnchor $regexReplacementHeadingsAnchor -}}
{{- end -}}


<!-- Footnote Ref with Square Brackets `[]` -->
{{- if .Site.Params.squareBrackets -}}
    {{- $regexPatternFootnoteRef := `(<sup id="fnref:\d+"><a href="#fn:\d+"[^>]+>)(\d+)(</a></sup>)` -}}
    {{- $regexReplacementFootnoteRef := `$1[$2]$3` -}}
    {{- $Content = $Content | replaceRE $regexPatternFootnoteRef $regexReplacementFootnoteRef -}}
{{- end -}}


<!-- Do NOT Indent The First Paragraph -->
{{- if and (not (.Params.indentFirstParagraph | default .Site.Params.indentFirstParagraph)) -}}
    {{- if ne .Type "poetry" -}}
    
        {{- $regex := `(<p)(>[^<]+)` -}}
        {{- $replacement := `$1 style="text-indent:0"$2` -}}
        {{- $firstParagraphOld := (delimit (findRE $regex $Content 1) " ") -}}
        {{- $firstParagraphNew := (replaceRE $regex $replacement $firstParagraphOld) -}}
        {{- $Content = replace $Content $firstParagraphOld $firstParagraphNew -}}
        {{- $regex := `((</h[1-6]>|<hr>|<hr />)\n(<blockquote>\n)?<p)(>[^<])` -}}
        {{- $.Scratch.Set "regex" $regex -}}
        

        {{- $regex := .Scratch.Get "regex" -}}
        {{- $replacement := `$1 style="text-indent:0"$4` -}}
        {{- $Content = $Content | replaceRE $regex $replacement -}}
    {{- end -}}
{{- end -}}

<!-- Responsive tables -->
{{- $Content = $Content | replaceRE `<table\b` `<div class="table-container"><table` -}}
{{- $Content = $Content | replaceRE `</table>` `</table></div>` -}}

<!-- Final Content -->
{{- $Content | safeHTML -}}
