#theme-switcher {
  color: var(--color-contrast-medium);
  transition: color $duration;
  z-index: 4;
  // padding: 1px;
  // float: right;

  &:hover {
    color: var(--color-primary);
  }

  .icon {
    margin-right: 0 !important;
  }
}
