{{ if .Site.Params.footerSubscription }}
    <div class="subscription-box">
        {{ replace (index $.Site.Data.SVG $.Site.Params.subscriptionIcon) "icon" "icon subscription-icon" | safeHTML }}
        <div class="subscription-hover">
            <img class="subscription-qrcode" src="{{ .Site.Params.subscriptionQrCode }}" alt="Wechat" />
            <div class="subscription-description">{{ i18n "subscription" }}</div>
        </div>
    </div>
{{ end }}

{{ len (where .Site.RegularPages "Section" "posts") }}{{ i18n "posts" }}
|
{{$scratch := newScratch}}
{{ range (where .Site.Pages "Kind" "page" )}}
    {{$scratch.Add "total" .WordCount}}
{{ end }}
{{ $scratch.Get "total" }}
{{ i18n "WordCount" }}