{{ $link := "https://fonts.googleapis.com/css2?family=Lato:wght@700&text=reuixiy&display=swap" }}

<link rel="stylesheet" href="{{ $link }}" media="print" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="{{ $link }}" /></noscript>

<!-- <script data-ad-client="ca-pub-8163003938382682" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

<meta name="referrer" content="never">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iMuFeng/bmdb@1.8.0/dist/Bmdb.min.css">
<script type="text/javascript" src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>
<script type="text/javascript" src='https://cdn.jsdelivr.net/gh/iMuFeng/bmdb@1.8.0/dist/Bmdb.min.js'></script>